body {	background:rgb(33,153,204);
	color: white;          
	margin-left: 5%; 
	margin-right: 5%; 
	margin-top: 2%;
        font-family: sans-serif
}
pre {font-size: 12pt; color: black; white-space: pre; font-family: sans serif;
}
.title {font-size: 14pt; color: 0066FF; font-family: sans-serif; 
        font-weight: bold;}
.author { font-size: 12pt; color: 0066FF; font-family: sans serif; }
.formfill { font-size: 12pt; color: black; font-family: sans serif; }
.math {color: green;}
.italic {color: rgb(150, 0, 0);}
.squiggle {color: rgb(139, 102, 139);}
.object {color: rgb(255, 127, 0);}
.titlehead {font-size: 14pt; color: black; font-family: sans-serif; 
        font-weight: bold;}
.em { font-size: 10pt; color: black; font-family: courier;}
.authorhead { font-size: 12pt; color: black; font-family: sans serif; }
.affiliation {font-size: 10pt; color: 0066FF; font-family: times;}
.abstract { font-size: 12pt; color: black; font-family: sans serif;}
.hidden { font-size: 12pt; color: rgb(33,153,204); font-family: sans serif;}
:link { color: rgb(150, 0, 0) }  /* for unvisited links */
:visited { color: rgb(150, 0, 0) } /* for visited links */
:active { color: rgb(150, 0, 0) } /* when link is clicked */
:hover { color: rgb(150, 0, 0) } /* when mouse is over link */
a.plain { text-decoration: none }
a.head {text-decoration: underline; color: 222255}


